.cv__header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  background-color: var(--clr-cv);
  box-sizing: border-box;
}

.cv__name {
  font-size: var(--size-xs);
  color: white;
}

.cv__role {
  margin-top: 0.1rem;
  font-size: var(--size-4xs);
  font-weight: lighter;
  color: rgb(162, 156, 156);
}

/* Main */

.cv__main {
  display: grid;
  grid-template-columns: 1fr auto;
}

.cv__professional-summary {
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: var(--size-xs);
  max-width: 25ch;
}

.cv__aside {
  background-color: rgb(239, 239, 239);
  font-size: var(--size-xs);
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 1rem;

  min-height: 100%;
}

/* Common styles */

.section__title {
  border-bottom: 1px solid rgb(239, 239, 239);
}

.cv__section {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
}
