.form__header {
  margin-bottom: 1rem;
}

.form__header-title {
  font-size: var(--size-sm);
}

.form__label {
  font-size: var(--size-sm);
}

.form__input {
  margin-bottom: 0.75rem;
  border: 0;
  border-radius: 8px;
  background-color: rgb(238, 238, 238);
  padding: 0.25rem;
}
