.forms {
  background-color: #182037;

  border-radius: 8px;
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 1rem;
}

.form {
  margin-bottom: 1rem;
  padding: 1rem;
  padding-right: 3rem;
  background-color: #212943;
  border-radius: 5px;
}

.form__extend-arrow {
  width: var(--size-sm);
}

.form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* xs */
@media (min-width: 475px) {
  .forms {
    margin-left: 4rem;
    max-width: 37ch;
  }
}

/* sm */
@media (min-width: 640px) {
  .forms {
    margin-left: 7rem;
    max-width: 45ch;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* ls */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
