main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0rem;
}

.down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo {
  margin-top: 3rem;
}
