.canvas {
  width: 100%;
  background-color: #fff;
  color: black;
  max-width: 30ch;
  max-height: 65ch;
  display: flex;
  flex-direction: column; /* Ensure it's a vertical flex container */
  overflow: hidden;
}

/* xs */
@media (min-width: 475px) {
  .canvas {
    max-width: 40ch;
    padding-bottom: 40rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .canvas {
    max-width: 45ch;
    padding-bottom: 40rem;
  }
}

/* md */
@media (min-width: 768px) {
  .canvas {
    max-width: 65ch;
    padding-bottom: 50rem;
  }
}

/* ls */
@media (min-width: 1024px) {
  .canvas {
    max-width: 85ch;
    padding-bottom: 60rem;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
